* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #f3f3f3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
  display: inline-block;
  padding: 12px 25px;
  background: none;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
  background-color: #333;
  color: #ddd;
}

.icon {
  margin-right: 10px;
}

.add {
  margin-right: 20px;
}

.note-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.note {
  margin: 40px 20px;
  width: 240px;
  background-color: #fff300;
  border: 1px solid black;
}

.note-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.06);
}

.note-header .delete-note {
  background: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.note-body {
  padding: 20px 15px;
  font-size: 14px;
}

.note-panel {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 0;
  width: 600px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.note-panel h2 {
  margin: 20px;
  text-transform: uppercase;
}

.note-panel label {
  margin-bottom: 10px;
}

.note-panel #text,
.note-panel #category {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 90%;
  max-height: 600px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
}

.note-panel .error {
  margin-bottom: 20px;
  color: red;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */